.appWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: hsla(64, 41%, 92%, 1);
    background: linear-gradient(
        90deg,
        hsla(64, 41%, 92%, 1) 0%,
        hsla(196, 83%, 84%, 1) 50%,
        hsla(305, 75%, 83%, 1) 100%
    );
    background: -moz-linear-gradient(
        90deg,
        hsla(64, 41%, 92%, 1) 0%,
        hsla(196, 83%, 84%, 1) 50%,
        hsla(305, 75%, 83%, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        hsla(64, 41%, 92%, 1) 0%,
        hsla(196, 83%, 84%, 1) 50%,
        hsla(305, 75%, 83%, 1) 100%
    );
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2F3E2", endColorstr="#B2E5F8", GradientType=1 );
    .cityChoice {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: rgb(0, 0, 0);
        .cityDropdown {
            border-radius: 5px;
            border: rgb(0, 0, 0) solid 1px;
            width: 300px;
            padding: 0.5rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .vehicleType {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
        .vehicleDropdown {
            border-radius: 5px;
            border: rgb(0, 0, 0) solid 1px;
            width: 300px;
            padding: 0.5rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    .Location {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 330px;
        
        input {
            width: 330px;
            border: none;
            border-bottom: 1px solid #fff;
            color: rgb(0, 0, 0);
            background: white;
            border-radius: 5px;
            border: rgb(0, 0, 0) solid 1px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            outline: none;
            font-size: 1rem;
            padding: 0.5rem;
            margin: 0.5rem;
        }
    }
    .submitBtn {
        width: 300px;
        border: none;
        border-radius: 0.5rem;
        background: rgb(86, 247, 140);
        color: #000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        cursor: pointer;
        outline: none;
        padding: 0.5rem;
        margin: 0.5rem;
    }
}

body{
    margin: 0;
    padding: 0;
}